<div class="box-menu">
  <div class="box-menu__section">
    <div class="section-text">dddddddd</div>
    <img src="" alt="">
  </div>
  <div class="box-menu__section">
    <div class="section-text">wwww</div>
    <img src="" alt="">
  </div>
  <div class="box-menu__section">
    <div class="section-text">www</div>
    <img src="" alt="">
  </div>
  <div class="box-menu__section">
    <div class="section-text">ffff</div>
    <img src="" alt="">
  </div>
  <div class="box-menu__section">
    <div class="section-text">ffff</div>
    <img src="" alt="">
  </div>
  <div class="box-menu__section">
    <div class="section-text">ff</div>
    <img src="" alt="">
  </div>
  <div class="box-menu__section">
    <div class="section-text">fff</div>
    <img src="" alt="">
  </div>
  <div class="box-menu__section">
    <div class="section-text"></div>
    <img src="" alt="">
  </div>
  <div class="box-menu__section">
    <div class="section-text"></div>
    <img src="" alt="">
  </div>
</div>
