<ngx-slick-carousel class="slider" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" >
       

        <div ngxSlickItem class="woman-slide">
            <div class="woman-slide-text">
                <div class="woman-slide-text__title">You belong to the difference</div>
                <div class="woman-slide-text__new-box woman-slide-text__new-box--1">
                    <div class="woman-slide-text__new">New</div>
                    <div class="woman-slide-text__arrivals">Summer Arrivals</div>
                    <button class="woman-slide-text__btn">Shop Now</button>
                </div>
                </div>
        </div>
        <div ngxSlickItem class="woman-slide woman-slide--2">
                <div class="woman-slide-text woman-slide-text--2">
                    <div class="woman-slide-text__title woman-slide-text__title--2"> <span class="woman-slide-text__title--2__span1">Urban</span> <span class="woman-slide-text__title--2__span2">Tropics</span> </div>
                    <div class="woman-slide-text__new-box woman-slide-text__new-box--2">
                    <div class="woman-slide-text__new woman-slide-text__new--2">New</div>
                    <div class="woman-slide-text__arrivals woman-slide-text__arrivals--2">Summer Arrivals</div>
                    <button class="woman-slide-text__btn woman-slide-text__btn--2">Discover</button>
                        </div>
                </div>
        </div>
            <div ngxSlickItem class="woman-slide woman-slide--3">
                    <div class="woman-slide-text">
                        <div class="woman-slide-text__title woman-slide-text__title--3"><span class="woman-slide-text__title--3__span1">Things</span><span class="woman-slide-text__title--3__span2">we</span><span class="woman-slide-text__title--3__span3">love</span></div>
                        <div class="woman-slide-text__new-box woman-slide-text__new-box--3">
                        <div class="woman-slide-text__new woman-slide-text__new--3">New</div>
                        <div class="woman-slide-text__arrivals woman-slide-text__arrivals--3">Summer Arrivals</div>
                        <button class="woman-slide-text__btn woman-slide-text__btn--3">Shop Now</button>
                      </div>
                      </div>
            </div>
    </ngx-slick-carousel>

<section class="links">
      <div class="links-box">
              <div class="links-box__link"><img src="../assets/images-slider/fb.svg" alt=""></div>
              <div class="links-box__link"><img src="../assets/images-slider/tw.svg" alt=""></div>
              <div class="links-box__link"><img src="../assets/images-slider/inst.svg" alt=""></div>
              <div class="links-box__link"><img src="../assets/images-slider/p.svg" alt=""></div>
              <div class="links-box__link"><img src="../assets/images-slider/in.svg" alt=""></div>
              <div class="links-box__link"><img src="../assets/images-slider/g.svg" alt=""></div>
      </div>
</section>
<section class="brands">
  <div class="brands__container">
        <ngx-slick-carousel class="slider-brands" 
        #slickModal="slick-carousel" 
        [config]="slideConfig2" >
          <div ngxSlickItem class="slider-brands__brand slider-brands__brand--name"></div>
          <div ngxSlickItem class="slider-brands__brand slider-brands__brand--diesel"></div>
          <div ngxSlickItem class="slider-brands__brand slider-brands__brand--adidas"></div>
          <div ngxSlickItem class="slider-brands__brand slider-brands__brand--guess"></div>
          <div ngxSlickItem class="slider-brands__brand slider-brands__brand--mango"></div>
          <div ngxSlickItem class="slider-brands__brand slider-brands__brand--pepe"></div>
          <div ngxSlickItem class="slider-brands__brand slider-brands__brand--gino"></div>
          <div ngxSlickItem class="slider-brands__brand slider-brands__brand--levi"></div>
          <div ngxSlickItem class="slider-brands__brand slider-brands__brand--name"></div>
          <div ngxSlickItem class="slider-brands__brand slider-brands__brand--diesel"></div>
          <div ngxSlickItem class="slider-brands__brand slider-brands__brand--guess"></div>    
      </ngx-slick-carousel>
  </div>
</section>
<section class="catalog">
  <div class="catalog__container">
      <div class="catalog-grid">
              <div class="catalog-grid__item catalog-grid__item--1"></div>
              <div class="catalog-grid__item catalog-grid__item--2"></div>
              <div class="catalog-grid__item catalog-grid__item--3">
                  <div class="white-box white-box--first">
                      <div class="white-box__title">Be the first</div>
                      <button class="white-box__btn white-box--first__btn">Shop training</button>
                  </div>
              </div>
              <div class="catalog-grid__item catalog-grid__item--4"></div>
              <div class="catalog-grid__item catalog-grid__item--5">
                  <div class="item5__best">best for</div>
                  <div class="item5__kids">kids</div>
                  <button class="item5__btn">Shop now</button>
              </div>
              <div class="catalog-grid__item catalog-grid__item--6"></div>
              <div class="catalog-grid__item catalog-grid__item--7"></div>
      </div>
      <div class="white-box white-box--jeans">
              <div class="white-box__title">Denim</div>
              <button class="white-box__btn white-box__btn--jeans">Shop jeans</button>
      </div>
      <div class="white-box white-box--look">
              <div class="white-box__title">Perfect look</div>
              <button class="white-box__btn white-box__btn--look">Shop look</button>
      </div>
  </div>
</section>
<section class="offers">
  <div class="offers__container">
      <div class="incredible-offers">incredible offers</div>
      <ngx-slick-carousel 
      class="incredible-offers__slider"
      #slickModal="slick-carousel" 
        [config]="slideConfig3" >
          <div ngxSlickItem class="slide">
              <div class="slide__img"></div>
              <div class="slide__title">today only</div>
              <div class="slide__sale">40% off</div>
              <div class="slide__desc">dresses</div>
              <div class="slide__btn">Shop now</div>
          </div>
          <div ngxSlickItem class="slide">
              <div class="slide__img slide__img--2"></div>
              <div class="slide__title">up to</div>
              <div class="slide__sale">30% off</div>
              <div class="slide__desc">sneakers</div>
              <div class="slide__btn">Shop now</div>
          </div>
          <div ngxSlickItem class="slide">
              <div class="slide__img slide__img--3"></div>
              <div class="slide__title">only here</div>
              <div class="slide__sale">best price</div>
              <div class="slide__desc">swimwear</div>
              <div class="slide__btn">Shop now</div>
          </div>
          <div ngxSlickItem class="slide">
              <div class="slide__img "></div>
              <div class="slide__title">today only</div>
              <div class="slide__sale">40% off</div>
              <div class="slide__desc">dresses</div>
              <div class="slide__btn">Shop now</div>
          </div>
          <div ngxSlickItem class="slide">
              <div class="slide__img slide__img--2"></div>
              <div class="slide__title">up to</div>
              <div class="slide__sale">30% off</div>
              <div class="slide__desc">sneakers</div>
              <div class="slide__btn">Shop now</div>
          </div>
          <div ngxSlickItem class="slide">
              <div class="slide__img slide__img--3"></div>
              <div class="slide__title">only here</div>
              <div class="slide__sale">best price</div>
              <div class="slide__desc">swimwear</div>
              <div class="slide__btn">Shop now</div>
            </div>
          </ngx-slick-carousel>
  </div>
</section>